{% extends 'base.html' %}


{% block content %}
<h1>Careplan Status</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">resourceType</th>
      <th scope="col">ID</th>
      <th scope="col">text</th>
      <th scope="col">status </th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for item in db %}
    <tr>
      <td>{{item.resourceType}}</td>
      <td>{{item.id}}</td>
      <td>{{item.text}}</td>
      <td>{{item.status}}</td>
      <td>
        <a href="{% url 'edit_data'  %}" class='btn btn-outline-primary btn-sm'>Edit</a> |
        <a href="{% url 'delete_data'  %}" class='btn btn-outline-danger btn-sm'>Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{% url 'create_data'  %}" class='btn btn-outline-success btn-sm'>Create New +</a>

{% endblock content %}